
/* change most elements to be undraggable and unselectable, set background color */
body {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      background-color: darkgreen;
      user-select: none;
}

/* styling for card images */
.card-image {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      border-radius: 2.9%;
      user-select: none;
      width: calc(6vw + 6vh);
}

/* styling for player and computer names */
.names {
      font-size: 2vw;
      position: absolute;
      top: 4vh; 
      transform: translate(-50%,-50%);
      color: white;
      text-shadow: 0 0 7px rgb(50,50,50);
}

/* styling for score boxes*/
.score-box {
      font-size: calc(1.5vw + 1.5vh);
      position: absolute;
      text-align: center;
      top: 60vh;
      transform: translate(-50%,-50%);
      background-color: white;
      width: 15vw;
      height: 6vh;
      line-height: 5vh;
}

/* styling for reset button */
.reset {
      background: rgb(240,240,240);
      color: red;
      font-size: calc(1vh + 0.7vw);
      height: 8vh;
      left: 50vw;
      position: absolute;
      top: 60vh;
      transform: translate(-50%,-50%);
      width: 8vw;
      text-align: center;
}

.reset:hover {
      cursor: pointer;
}

.reset:hover:active {
      background: rgb(210,210,210);
}

/* styling for next round button */
.next {
      background: rgb(227,227,227);
      color: black;
      font-size: calc(1vh + 1vw);
      height: 8vh;
      left: 50vw;
      position: absolute;
      top: 85vh;
      transform: translate(-50%,-50%);
      visibility: hidden;
      width: 20vw;
}

.next:hover {
      cursor: pointer;
}

/* styling for announcements text */
#announcements {
      color: white;
      font-size: calc(5vh + 4vw);
      font-weight: 5px;
      left: 50vw;
      position: absolute;
      text-align: center;
      top: 73vh;
      transform: translate(-50%,-50%);
      vertical-align: middle;
      text-shadow: 0 0 10px rgb(80, 80, 80);
}

#announcements2 {
      color: red;
      font-size: calc(1.5vh + 1.5vw);
      font-weight: 5px;
      left: 50vw;
      position: absolute;
      text-align: center;
      top: 50vh;
      transform: translate(-50%,-50%);
      vertical-align: middle;
      visibility: hidden;
      background-color: rgb(240,240,240); 
      border-style: solid;
      border-color: gray;
      border-width: 2px;
}

/* styling for player and computer points */
.points {
      font-size: 1.5vw;
      position: absolute;
      top: 8vh; 
      transform: translate(-50%,-50%);
      text-shadow: 0 0 7px rgb(50,50,50);
      color: white;
}

/* styling for hit and stand Buttons */
.button {
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      -webkit-user-select: none; /* Safari */        
      background-color: rgb(240,240,240);
      border-radius: 5px;
      border-width: 4px;
      border: solid;
      border-color: black;
      font-size: calc(10vw / 4);
      height: calc(20vh);
      width: calc(20vw);
      line-height: 20vh;
      position: fixed;
      text-align: center;
      top: 84vh;
      transform: translate(-50%,-50%);
      user-select: none; /* Standard */
      vertical-align: middle;    
      
}

.button:hover {
      cursor: pointer;
}

.button:hover:active {
      background-color: gray;
}

/* styling and animations for card flipping */
.card-outer {
      height: calc(10vw + 9vh);
      perspective-origin: 50vw 30vh;
      perspective: 1000px;
      width: calc(6vw + 6vh);
}

.card-inner {
      border-radius: 2.9%;
      height: calc(10vw + 9vh);
      position: absolute;
      text-align: center;
      transform-style: preserve-3d;
      transition: transform 1s;
      width: calc(6vw + 6vh);
}

.flip-action {
      transform: rotateY(-180deg);
      transition: transform 0.6s;
}

.card-front {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: 100%;
      position: absolute;
      transform: rotateY(180deg);
      width: 100%;
}

/*
index.html styling (for buttons)
*/
.menuButton {
      font-size: 5vh;
      height: 10vh;
      width: 20vw;
      position: absolute;
      left: 50vw;
      transform: translate(-50%, -50%);
      border-style: solid;
      border-color: gray;
      border-width: 3px;
      text-align: center;
      line-height: 10vh;
      color: black;
      background-color: white;
      text-shadow: 0 0 20px lightgray;
}

/* Blackjack big text in index*/
#blackjackText {
      font-size: calc(6vh + 7vw);
      color: white;
      text-shadow: 0 0 50px rgb(50,50,50);
      position: absolute;
      top: 15vh;
      left: 50vw;
      transform: translate(-50%,-50%)
      
}

/*Ace button*/
.ace-button {
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      -webkit-user-select: none; /* Safari */        
      background-color: rgb(240,240,240);
      border-radius: 5px;
      border-width: 4px;
      border: solid;
      border-color: black;
      font-size: calc(6vw / 6);
      height: 6vh;
      width: 10vw;
      line-height: 5vh;
      position: fixed;
      text-align: center;
      top: 50vh;
      transform: translate(-50%,-50%);
      user-select: none; /* Standard */
      vertical-align: middle;    
      left: 37vw;
      visibility: hidden;
}

.ace-button:hover {
      cursor: pointer;
}

.ace-button:hover:active {
      background-color: gray;
}

#howtoplay {
      background-color: white;
      width: 40vw;
      height: 35vh;
      position: absolute;
      transform: translate(-50%, 0%);
      top: 60vh;
      left: 50vw;
      text-align: center;
      border-style: solid;
      border-color: gray;
      border-width: 3px;
      
}
